{% extends 'index.html' %}
{% load static %}

{% block css %}
<!-- BEGIN: Page CSS-->

<!-- END: Page CSS-->
{% endblock css %}

{% block title %} About {% endblock title %}

{% block main %}

<!-- BEGIN: Content-->
<div class="app-content content pt-0 pt-3">
    <div class=" content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0" style="margin-top:40px">
        <div class=" content">
            <div class="content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-2">
                        </div>
                        <div class="col-12 col-lg-8 py-2">
                            <h1 class="text-primary fw-bolder text-center mb-1">
                                About Us
                            </h1>
                            <h4 class="text-primary fw-bolder text-center mb-2">
                                Joy is not optional. It’s essential.
                            </h4>
                            <div class="about-article-single">
                                <h4 class="text-primary fw-bolder">
                                    Our Founder
                                </h4>
                                <p class="mb-2">
                                    John Piper was born in Chattanooga, Tennessee, to Bill and Ruth Piper January 11,
                                    1946. When John and his older sister were still small, the family moved to
                                    Greenville, South Carolina, where John spent his growing-up years. His father was an
                                    itinerant evangelist, and his mother died in 1974 in a bus accident while visiting
                                    Israel
                                </p>
                                <p class="mb-2">
                                    Desiring God began inauspiciously in 1994 when John handed off the church’s tape
                                    ministry to his assistant, Jon Bloom.
                                </p>
                                <p class="mb-2">
                                    What started with tapes and John’s books, Desiring God has blossomed into an
                                    international web ministry with 14,000+ free resources and 3.5+million monthly
                                    users. Today, John serves as lead teacher for the ministry.
                                </p>
                            </div>
                            <div class="about-article-single">
                                <h4 class="text-primary fw-bolder">
                                    Our Founder
                                </h4>
                                <p class="mb-2">
                                    John Piper was born in Chattanooga, Tennessee, to Bill and Ruth Piper January 11,
                                    1946. When John and his older sister were still small, the family moved to
                                    Greenville, South Carolina, where John spent his growing-up years. His father was an
                                    itinerant evangelist, and his mother died in 1974 in a bus accident while visiting
                                    Israel
                                </p>
                                <p class="mb-2">
                                    Desiring God began inauspiciously in 1994 when John handed off the church’s tape
                                    ministry to his assistant, Jon Bloom.
                                </p>
                                <p class="mb-2">
                                    What started with tapes and John’s books, Desiring God has blossomed into an
                                    international web ministry with 14,000+ free resources and 3.5+million monthly
                                    users. Today, John serves as lead teacher for the ministry.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2">
                            <!-- adds right -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->

{% endblock main %}

{% block js %}
<script src="{% static 'custom-cart.js' %}"></script>
{% endblock js %}