{% load static %}
<footer class="footer footer-static horizontal-layout header-navbar py-2 text-center">
   <div class="container-fluid">
      <div class="row d-flex align-items-center">
         <div class="col-md-4 col-12 mb-1 d-flex justify-content-center">
            <h3 class="m-0">
               <a href=""><i class="fa-brands fa-facebook"></i></a>
               <a href=""><i class="fa-brands fa-twitter"></i></a>
               <a href=""><i class="fa-brands fa-instagram"></i></a>
            </h3>
         </div>
         <div class="col-md-4 col-12 mb-1 d-flex justify-content-center">
            <img src="{% static 'images/logo/logo.svg' %}" style="width:60px;" class="logo img-fluid" alt="Logo" />
         </div>
         <div class="col-md-4 col-12 mb-1 d-flex justify-content-center">
            &copy; CopyRight 2022
         </div>
      </div>
   </div>
</footer>