{% extends 'index.html' %}
{% load static %}

{% block css %}
<!-- BEGIN: Page CSS-->

<link rel="stylesheet" type="text/css" href="{% static 'css/core/menu/menu-types/horizontal-menu.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/extensions/ext-component-sweet-alerts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/forms/form-validation.css' %}" />

<!-- END: Page CSS-->
{% endblock css %}

{% block main %}
<!-- BEGIN: Content-->

<div class="app-content content ">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills mb-2">
                        <!-- account -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:account_setting' %}">
                                <i data-feather="user" class="font-medium-3 me-50"></i>
                                <span class="fw-bold">Account</span>
                            </a>
                        </li>
                        <!-- security -->
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'users:password_change' %}">
                                <i data-feather="lock" class="font-medium-3 me-50"></i>
                                <span class="fw-bold">Security</span>
                            </a>
                        </li>
                    </ul>

                    <!-- security -->
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h4 class="card-title">Change Password</h4>
                        </div>
                        <div class="card-body pt-1">
                            <!-- form -->
                            <form action="{% url 'users:password_change' %}" method="POST" novalidate>
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-1">
                                        <label class="form-label" for="account-new-password">New Password</label>
                                        <div class="input-group form-password-toggle input-group-merge">
                                            {{ form.new_password1 }}
                                            <div class="input-group-text cursor-pointer">
                                                <i data-feather="eye"></i>
                                            </div>
                                        </div>
                                        <span class="text-danger">
                                            {{ form.new_password1.errors|striptags }}
                                        </span>
                                    </div>
                                    <div class="col-12 col-sm-6 mb-1">
                                        <label class="form-label" for="account-retype-new-password">Retype New
                                            Password</label>
                                        <div class="input-group form-password-toggle input-group-merge">
                                            {{ form.new_password2 }}
                                            <div class="input-group-text cursor-pointer"><i data-feather="eye"></i>
                                            </div>
                                        </div>
                                        <span class="text-danger">
                                            {{ form.new_password2.errors|striptags }}
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary me-1 mt-1">Save
                                            changes</button>
                                        <a class="btn btn-outline-secondary mt-1" href="{% url 'pages:home' %}"
                                            role="button">Discard</a>
                                    </div>
                                </div>
                            </form>
                            <!--/ form -->
                        </div>
                    </div>
                    <!--/ security -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END: Content-->
{% endblock main %}

{% block js %}
<!-- BEGIN: Page JS-->

<script src="{% static 'js/scripts/pages/page-account-settings-account.js' %}"></script>

<!-- END: Page JS-->
{% endblock js %}